<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Constraint -->
      <package
            uri="http://melanee.org/Constraint"
            class="org.melanee.ocl2.models.definition.constraint.ConstraintPackage"
            genModel="model/Constraint.genmodel"/>
   </extension>

</plugin>
